* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(1, 32, 44)
}

header {
    padding: 20px;
    margin: 0px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(32, 55, 85);
}

header h1 {
    color: rgb(39, 246, 242);
    margin-bottom: 10px;
}

nav a {
    color: rgb(39, 246, 242);
    text-decoration: none;
    margin: 0px 10px;
    padding: 5px 10px;
    font-size: 18px;
}

nav a:hover {
    color: yellow;
}

.hero {
    text-align: center;
    padding-top: 50px;
    color: rgb(39, 246, 242);
}

.features {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.left_section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    width: 350px;
    height: 50px;
    background-color: rgba(255, 255, 255,0.08);     
    border-radius: 12px;
    padding: 20px;
}

#location {
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 1px;
    padding-left: 70px;
    color: rgb(245, 246, 247);
    padding-top: 10px;
    font-size: 22px;
    font-weight: bold;
}

#lvalue {
    letter-spacing: 1px;
    text-align: center;
    padding-top: 10px;
    color: rgb(5, 250, 17);
    font-size: 22px;
    font-size: 22px;
    font-weight: bold;
}

.card1 {
    width: 350px;
    height: 300px;
    background-color: rgba(255, 255, 255,0.08);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.card1 h2 {
    text-align: center;
    margin-bottom: 15px;
    color: rgb(241, 240, 240)
}

.card1 hr {
    border: none;
    height: 2px;
    background-color: rgba(0,0,0,0.2);
    margin: 15px 0;
}

.card2 hr {
    border: none;
    height: 2px;
    background-color: rgba(0,0,0,0.2);
    margin: 15px 0;
}
.weather_info {
    text-align: start;
    color: rgb(255, 217, 3);
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    
}

.card2 {
    width: 350px;
    height: 400px;
    background-color: rgba(255, 255, 255,0.08);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.card2 h2 {
    text-align: center;
    margin-bottom: 15px;
    color:rgb(247, 247, 245);
}

.forecast {
    text-align: center;
    margin-top: 20px;
}

.forecast p {
    color: rgb(236, 253, 0);
    font-size: 18px;
    font-weight: 500;
    text-align: start;
    letter-spacing: 1px;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
}



#add_city{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#view_cities{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.addcity {

    width: 350px;
    max-height: 500px;
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: rgb(244, 249, 142);
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.viewcities {
    width: 350px;
    max-height: 500px;
    margin-top: 50px;
    padding: 20px;
    background-color: rgb(244, 249, 142);
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.addcity h2, .view_cities h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;    
}

#cities_list {
    display: flex;
    margin-top: 20px;
    gap: 8px;
    flex-wrap: wrap;
    flex-direction: row;
    list-style-position: inside;
    text-align: center;
}

#cities_list li{
    cursor: pointer;
    color: rgb(14, 47, 46);
    padding: 5px 10px;
}

#cities_list li:hover{
    background-color: rgb(5, 255, 9);
}

#temperature, #humidity, #wind, #condition {
    color : rgb(236, 253, 0);
    font-size: 20px;
    font-weight: 500;
    text-align: start;
    letter-spacing: 1px;
    margin-left: 45px;
    margin-bottom: 20px;
    margin-top: 30px;
}   

#tvalue, #hvalue, #wvalue, #cvalue {
    color : rgb(5, 255, 163);
    font-size: 20px;
    font-weight: 500;
    text-align: start;
    letter-spacing: 2px;
    margin-bottom: 20px;
    margin-top: 30px;
    font-size: 22px;
    font-weight: bold;
}   