* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(1, 32, 44)
}

header {
    padding: 20px;
    margin: 0px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(32, 55, 85);
}

header h1 {
    color: rgb(39, 246, 242);
    margin-bottom: 10px;
}

nav a {
    color: rgb(39, 246, 242);
    text-decoration: none;
    margin: 0px 10px;
    padding: 5px 10px;
    font-size: 18px;
}

nav a:hover {
    color: yellow;
}

.hero {
    text-align: center;
    padding-top: 50px;
    color: rgb(39, 246, 242);
}

.features {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.left_section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    width: 350px;
    height: 50px;
    background-color: rgb(247, 255, 12);
    border-radius: 12px;
    padding: 20px;
}

.card h3 {
    text-align: center;
    padding-top: 10px;
}

.card1 {
    width: 350px;
    height: 300px;
    background-color: rgb(244, 249, 142);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.card1 h2 {
    text-align: center;
    margin-bottom: 15px;
}

.weather_info {
    text-align: center;
    margin-top: 20px;
}

.card2 {
    width: 350px;
    height: 400px;
    background-color: rgb(244, 249, 142);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.card2 h2 {
    text-align: center;
    margin-bottom: 15px;
}

.forecast {
    text-align: center;
    margin-top: 20px;
}

#add_city{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#view_cities{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.addcity {

    width: 350px;
    max-height: 500px;
    margin-top: 50px;
    padding: 20px;
    background-color: rgb(244, 249, 142);
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.viewcities {
    width: 350px;
    max-height: 500px;
    margin-top: 50px;
    padding: 20px;
    background-color: rgb(244, 249, 142);
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.addcity h2, .view_cities h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;    
}

#cities_list {
    display: flex;
    margin-top: 20px;
    gap: 8px;
    flex-wrap: wrap;
    flex-direction: row;
    list-style-position: inside;
    text-align: center;
}